h5 {
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.femail {
  position: absolute;
  left: 533px;
  top: 202px;
  font-size: 17px;
}
#emailed {
  position: absolute;
  top: 255px;
  height: 40px;
  width: 314px;
  left: 530px;
  padding: 4px 40px;
  gap: 10px;
}

.rese {
  position: absolute;
  top: 330px;
  height: 55px;
  width: 400px;
  left: 530px;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  background: #293593;
  box-shadow: 0px 30px 60px rgba(79, 70, 229, 0.15);
  border-radius: 6px;
  color: #fff;
}
.back {
  position: absolute;
  top: 400px;
  height: 50px;
  width: 400px;
  left: 530px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #293593;
  border: 1px solid #293593;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 14px;
}
.email-icon2{
  position: absolute;
  z-index: 2;
  height: 23px;
  width: 23px;
  left: 538px;
  top: 269px;
}

@media(max-width:450px){
  .forms{
    position: relative;
    left: -510px;
    top: -190px;
  }
  .fpassd{
    position: relative;
    top: 60px;
    left: -30px;
  }
  #emailed{
    position: relative;
    width: 210px;
    left: 500px;
  }
  .rese{
    position: relative;
    width: 300px;
    left: 500px;
    top: 260px;
  }
  .back{
    position: relative;
    left: -10px;
    top: 100px;
    width: 300px;
  }
  .femail{
    position: relative;
    left: 380px;
    top: 255px;
  }

}