input{
    padding: 15px;
     margin: 7px 0;
     border: 1px solid black;
    border-radius: 5px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 300px;
}

label{
    font-size: 14px;
    font-weight: 500;
}

span{
    font-size: 10px;
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}


input:invalid[focused="true"] ~ span{
    display: block;
}
