.signin{
    position: absolute;
  width: 508px;
  height: 696px;
  left: 730px;
  top: 65px;
  background: #586AF5;
}
.content{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   color: #F2F2F2;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 351px;
  height: 188px;
  left: 79px;
  top: 232px;
}
.welcome{
    display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0px;
 gap: 8px;
 width: 351px;
 height: 96px;
 flex: none;
 order: 0;
 flex-grow: 0;
}

.form{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 27px;

position: absolute;
width: 403px;
height: 405px;
left: 202px;
top: 233px;
}