.courseimag{
    position: relative;
    height: 22vh;
    width: 12vw;
    right: 7vw;
}
.stars{
    position: relative;
    height: 2.5vh;
    width: 1.2vw;
    top: -22vh;
    left: 1.5vw;
}
.rating{
    position: relative;
margin-top: -25.2vh;
right: -3.2vw;
font-size: 18px;
}
.coursescontent{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-left: 14vw;
margin-top: -5vh;
}
.coursedatas{
    margin: 6vh;
}
.coursesnames{
    /* position: relative; */
    /* left: -4vw; */
    color: #182062;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 4vw;
}
.coursesdescript{
    position: relative;
    left: -4vw;
    width: 20vw;
    font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.4px;
margin-top: -1vh;
/* margin-left: 5vw; */
}
#minecourserate{
    margin-top: -32vh;
}