.courseimag{
    position: relative;
    height: 22vh;
    width: 12vw;
    right: 7vw;
    top: -20vh;
}
/* .stars{
    position: relative;
    height: 2.5vh;
    width: 1.2vw;
    /* top: -41vh; */
    /* left: 28vw; */
/* } */ */
/* #rating{
    position: relative;
margin-top: -9vh;
right: -3.2vw;
font-size: 18px;
} */
.coursescontent{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-left: 14vw;
margin-top: -5vh;
}
.coursedatas{
    margin: 6vh;
    display: flex;
    width: 20vw;
}
.coursesnamed{
    /* position: relative; */
    /* left: -4vw; */
    color: #182062;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -4.9vw;
    margin-top: -1vh;
}
.coursesdescriptionn{
    position: relative;
    left: -6vw;
    width: 25vw;
    font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.4px;
margin-top: -1vh;
/* margin-left: 5vw; */
}
/* #minecourserate{
display: flex;

}
.rateyourcourse{
    margin-top: 10vh;
} */
.starss{
    height: 2.8vh;
    width: 1.2vw;
    /* margin-left: 20vw; */
}

#mystarss{
    display: flex;
    flex-direction: row;
    gap: 0.7vw;
    margin-top: -6vh;
    margin-left: -5vw;
}
.ratingofcourse{
    margin-top: -0.1vh;
}