.proimg{
    height: 5vh;
    width: 8vw;
    border-radius: 50%;
    margin-top: -52px;

}
#fname{
    position: relative;
  border: 1px solid #EEF0FD;
  background: #EEF0FD;
  color: #979898;
  padding: 20px 20px;
  gap: 10px;
  width: 13.5vw;
  height: 10px;
  border-radius: 5px;
  top: 13vh;
  /* left: -0.6vw; */
}
#lname{
    position: relative;
    border: 1px solid #EEF0FD;
    background: #EEF0FD;
  color: #979898;
    padding: 20px 20px;
    gap: 10px;
    width: 13.5vw;
    height: 10px;
    border-radius: 5px;
    top: 13vh;
    left: 1.5vw;
}
#emails{
    position: relative;
    background: #EEF0FD;
    color: #979898;
    top: 15vh;
    left: 30.7vw;
    padding: 20px 20px;
    gap: 10px;
    width: 32vw;
    height: 10px;
    border: 1px solid #EEF0FD;
    border-radius: 5px;
}
#code{
    position: relative;
    background: #EEF0FD;
    color: #979898;
    top: 24vh;
    right: 45.0vw;
    padding: 20px 20px;
    gap: 10px;
    width: 3vw;
    height: 10px;
    border: 1px solid #EEF0FD;
    border-radius: 5px;
}
#phno{
    position: relative;
    background: #EEF0FD;
    color: #979898;
    top: 24vh;
    left: -10vw;
    padding: 20px 20px;
    gap: 10px;
    width: 32vw;
    height: 10px;
    border: 1px solid #EEF0FD;
    border-radius: 5px;
}
#dob{
  position: relative;
  background: #EEF0FD;
  color: #979898;
  top: 26vh;
  left: 27.5vw;
  padding: 20px 20px;
  gap: 10px;
  width: 32vw;
  height: 10px;
  border: 1px solid #EEF0FD;
  border-radius: 5px;
}
.city{
    position: relative;
    background: #EEF0FD;
    color: #979898;
    top: 35vh;
    right: 7vw;
    /* padding: 20px 20px; */
    /* gap: 10px; */
    width: 34.8vw;
    height: 55px;
    border: 1px solid #EEF0FD;
    border-radius: 5px;
}
#form2{
    margin-right: 17vw;
}
.continuebutton{
    background: #293593;
border-radius: 5px;
width: 35vw;
height: 58px;
padding: 15px 20px;
gap: 10px;
color: #fff;
margin-top: 40vh;
font-size: 20px;
border: 2px solid #293593;
margin-left: 34vw;
display: flex;
justify-content: center;
align-items: center;
}
.opt1{
  background: #EEF0FD;
  color: black;
  width: 37.3vw;
  height: 20px;
  border: 1px solid #EEF0FD;
}
.opt2{
  background: #EEF0FD;
  color: black;
  width: 37.3vw;
  height: 20px;
  border: 1px solid #EEF0FD;
}
.opt3{
  background: #EEF0FD;
  color: black;
  width: 37.3vw;
  height: 20px;
  border: 1px solid #EEF0FD;
}
.editfooter{
  margin-top: 30vh;
}
/* .city{
  position:absolute;
  top:10vh;
  left:10vw;
  background-color:grey;
  color:black;
  gap:10px;
} */
@media(max-width:1200px){
  #form2{
    margin-right: 13vw;
  }
  #emails{
    position: relative;
    right: 10vw;
    width: 38.3vw;
  }
  #code{
    position: relative;
left: 53.5vh; 
top: 17vh; }
  #phno{
    position: relative;
    left: 31.4vw;
    width: 33vw;
  }
  #gender{
    position: relative;
    left: -10.8vw;
    width: 38.7vw;
  }
  .continuebutton{
    margin-left: 32vw;
    width: 42.5vw;
  }
}