.homeimg{
    height: 50vh;
    width: 20vw;
    margin-top: 20vh;
}
.educatorhome{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 8vw;
}
.hostmap{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10vw;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60vw;
    margin-top: 10vh;
}
/* .hostmap{
    flex-basis: 60vw;

}
.fleximg{
    flex-basis: 30vw;
} */