/* .homepg{
    margin-left: 60vw;
}
.mycoursepg{
    margin-left: 60vw;
}
/* #profilefornav{

} */
/* .buttonsbar{
    position: absolute;
    margin-left: 55vw;
}
#profilefornav{
    position: absolute;
    top: -5vh;
    left: 28vw;
}
#dropdown{
    position: relative;
    left: 14.3vw;
    top: -2vh; 
    margin-left: 28vw;
    margin-top: -4vh; 
}  */ 
/* .searchbar{
    display: none;
} */