.buyremovebuttons{
    margin-left: -3vw;
    display: flex;
    gap: 4vw;
    margin-top: -1vh;
    /* width: vw; */
    /* background-color: blue; */

}
.coursedatas{
    margin-left: 10vw;
    /* margin-top: 10vh; */
}
.stars{
    margin-left: -66vw;
    margin-top: -10vh;
    /* position: relative; */
     /* left: 100vw; */
}
.rating{
    margin-left: -65vw;
}
.coursesnames{
    margin-top: -7vh;
    margin-left: -3.2vw;
}
/* .coursesdescript{ */
    /* margin-top: 1vh; */
/* } */
.butbutton1{
    color: #fff;
    background-color: #293593;
    border: 2px solid #293593;
    width: 8vw;
    height: 5.2vh;
    border-radius: 6px;
}
.remove{
    color: #293593;
    background-color: #fff;
    border: 2px solid #293593;
    width: 8vw;
    height: 5.2vh;
    border-radius: 6px;
}
.course{
    margin-top: 10vh;
}
.courseimag{
    margin-top: 3vh;
}
.paise{
    color: #F48C06;
    font-size: 3vh;
    font-weight: 500;
    margin-left: -89.5vw;
    margin-top: -2.5vh;
}
.coursescontent{
    margin-top: -20vh;
}